.git
.github
.gitignore
.gitattributes

.env
.env.*
auth.json

node_modules
vendor

public/build
public/hot
public/import
public/storage

database/*.sqlite

bootstrap/cache/*
!bootstrap/cache/.gitignore

storage/debugbar/*
!storage/debugbar/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/pail

tests
.phpunit.cache
.phpunit.result.cache

.fleet
.idea
.nova
.vscode
.zed

docker-compose.override.yml
npm-debug.log
yarn-error.log
