{
	auto_https off

	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}

	frankenphp
}

:8080 {
	root * /app/public
	encode zstd br gzip

	php_server {
		try_files {path} index.php
	}

	log {
		output stdout
		format json
	}
}
